

.logo{
   font-family: Verdana;
   font-size: 1.5rem;
   font-weight: 500px;
  letter-spacing: 2px;
  text-decoration: none;
 
}.logo span {
   font-size: 2.5rem;
   font-weight: bold;
    color: #e5b565;
     font-family: Verdana;
     position: relative;
     top: 0.3rem;

}.collapsed-navLinks{
   flex-direction: column;
   background-color: #000 ;
   top: 10px;
}.navigation-links{
   text-decoration: none;
   padding-top: 0;
   font-family: Verdana;
}
@media (max-width: 567.98px){ 
   .navbar-links{
margin-top:180px;
 background-color:#000;
 z-index:2;
 }}