

.logo{
   font-family: Verdana;
   font-size: 1.5rem;
   font-weight: 500px;
  letter-spacing: 2px;
  text-decoration: none;
 
}.logo span {
   font-size: 2.5rem;
   font-weight: bold;
    color: #e5b565;
     font-family: Verdana;
     position: relative;
     top: 0.3rem;

}.navigationlinks{
   padding-top: 0;
   font-family: Verdana;
}.navbar-card{
   display: flex;
   height: 70px;
   opacity: 0.9;
   padding: 0px;
   margin-left: 70px;
   margin-right: 60px;
   background-color: #0c0c0c;
   gap: 200px;
   border-radius: 10px;
   width: auto;
   z-index: 1;
}